@charset "utf-8";

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}

/* reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
a:link,a:visited{text-decoration: none;color: #777;}
.clearfix::after{content:"";display: block;clear: both;}
li{list-style;none;}

.container{width: 980px;margin: 0 auto;}

/* header */
.top{border: 1px solid #E3D9D9;margin-bottom: 10px;}
.submenu{float: right;height: 26px;background: skyblue;}
.submenu li{float: left;}
.submenu li a{
    display: block;
    font-size: 26px;
    padding: 0 10px;
    line-height: 26;
    position: relative;
}
.submenu li a:after{
    content: "";display: block; height: 4px;width: 4px;background: #888;
    position: absolute;left: -2px;
}




