@charset "utf-8"
html,body{height: 100%;}


/* reset */
*{margin: 0;padding: 0; box-sizing: border-box;}
.clearfix:after{content:"";display: block;clear: both;}
li{list-style: none;}

.container{width: 980px;margin: 0 auto;}

/* .mWrap{
    width: calc( ( 100% - 50px ) / 3 );
    margin-right: 25px;
    display: block;
    float: left;
    
} */
/* .mWrap{
    border: 1px solid #070707;
    width: calc( ( 100% - 50px ) / 3 ); display: block;
} */
ul{
    
}
li{
    width: 300px;
    float: left;
    margin-right: 10px;
}
/* li img{
    width: 300px;
    height: 300px;
} */